<div class="cube">
    <img class="cube" src="{{imgUrl}}">
    <p class="name">{{name}}</p>
    <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
    <a class="btn" href="/details/{{_id}}">Details</a>
</div>